@import "tailwindcss";

/* Hide scrollbar */
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  

  @keyframes twinkle {
    0%, 100% { opacity: 0.3; }
    80% { opacity: 1; }
  }
  
  .twinkle {
    animation: twinkle 8s ease-in-out infinite;
  }